@media screen and (max-width: 1024px) {
    .content{
        height: auto;
        width: 100%;
        /* margin: auto; */
        /* padding-top: 100px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .left{
        margin: auto;
    }
    .right{
        margin: auto;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        overflow-x: visible;
    }
    .pages{
        display: none;
    }

    .foot{
        display: flex;
        /* position: fixed; */
        z-index: 2;
        width:100vw;
        min-height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 700;
        background: rgb(201, 201, 201);
    }
    .foot a{
        font-size: .5rem;
    }
    .shoe{
        display: flex;
    }
}